
:root {
    --bg-dark: #0D1117;
    --panel: #1E1E2F;
    --primary: #0FF6FF;
    --secondary: #9E00FF;
    --highlight: #00FFA3;
    --text: #EDEDED;
    --text-muted: #A1A1AA;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    box-shadow: 0 0 10px var(--primary);
    padding: 1rem 2rem;

}


header h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
    color: var(--primary);
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--bg-dark);
    color: var(--text);
    line-height: 1.6;
}

#editor input[type='number'] {
    width: 48px;
    height: 48px;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    background-color: #1f2937;
    color: white;
    border: 1px solid #374151;
}
