<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'ledsup/imagenes/iconos/logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}<title>Leds Up</title>{% endblock %}
    {% include "ledsup/partials/css.html" %}
</head>
<body class="min-h-screen flex flex-col">

{% include "ledsup/partials/header.html" %}

<main class="flex-grow">
    {% block content %}{% endblock %}
</main>

{% include "ledsup/partials/footer.html" %}

{% include "ledsup/partials/js.html" %}

</body>
</html>
