
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}<title>Leds Up</title>{% endblock %}
    {% load static %}
    {% include "ledsup/partials/css.html" %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  </head>
  <body>

  {% include "ledsup/partials/header.html" %}

  {% block content %}{% endblock %}

  {% include "ledsup/partials/footer.html" %}

  {% include "ledsup/partials/js.html" %}

  </body>
</html>
