{% extends "ledsup/base_generic.html" %}

{% block content %}
    <div class="min-h-screen px-4 py-10 bg-[#0D1117] text-[#EDEDED]">
        <div class="max-w-xl mx-auto bg-[#1E1E2F] p-6 rounded-xl shadow-md border border-[#0FF6FF]">
            <h3 class="text-xl font-semibold text-[#0FF6FF] mb-4">Borrar Dispositivo</h3>

            <p class="mb-6">¿Estás seguro que deseas eliminar: <span
                    class="font-semibold text-[#00FFA3]">{{ dispositivo }}</span>?</p>

            <form method="POST" class="flex gap-4">
                {% csrf_token %}
                <input type="submit" value="Sí, borrar"
                       class="bg-red-700 hover:bg-red-800 text-white font-medium py-2 px-4 rounded transition duration-200 cursor-pointer"/>
                <a href="{% url 'ledsup:lista_dispositivos' %}"
                   class="bg-gray-700 hover:bg-gray-800 text-white font-medium py-2 px-4 rounded transition duration-200">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}
