{% extends "web/base_generic.html" %}

{% block content %}
    <div class="max-w-lg mx-auto mt-20 bg-[#1E1E2F] text-white p-6 rounded-lg shadow-lg border border-[#0FF6FF]">
        <h3 class="text-xl font-semibold text-[#0FF6FF] mb-4">Instrucciones enviadas</h3>
        <p class="text-[#EDEDED]">
            Te hemos enviado por correo las instrucciones para restablecer tu contraseña.
            Si no las recibes en unos minutos, revisa tu carpeta de spam.
        </p>
    </div>
{% endblock %}
