{% load static %}

<footer class="bg-[#0F172A] py-12 px-6 mt-20 shadow-inner text-center p-4 text-[#A1A1AA] text-sm">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between">
        <div class="flex items-center space-x-4 mb-6 md:mb-0">
            <div class="w-24 h-24 rounded-xl border-2 border-[#9E00FF] shadow-inner bg-[#0F172A] flex items-center justify-center">
                <img src="{% static 'ledsup/imagenes/iconos/logo.png' %}" alt="logo" class="w-50 h-50 object-contain">
            </div>
        </div>
        <div class="flex space-x-4">
            <a href="https://api.whatsapp.com/send?phone=5491167180904&text=Hola%20LedsUp%20estuve%20viendo%20sus%20productos%20y%20tengo%20algunas%20consultas%3A" aria-label="WhatsApp">
                <img src="{% static 'ledsup/imagenes/iconos/whatsapp.png' %}" alt="whatsapp"
                     class="w-8 h-8 hover:opacity-80">
            </a>
    </div>
    <div class="mt-6 text-center text-sm text-gray-500">
        &copy; {{ current_year }} Leds-Up. Todos los derechos reservados.
    </div>
</footer>
