<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}<title>Easy-Led</title>{% endblock %}
    {% include "web/partials/css.html" %}
  </head>
  <body class="min-h-screen flex flex-col">

  {% include "web/partials/header.html" %}

  <main class="flex-grow">
    {% block content %}{% endblock %}
  </main>

  {% include "web/partials/footer.html" %}

  {% include "web/partials/js.html" %}

  </body>
</html>