{% extends "web/base_generic.html" %}

{% block content %}
    <section class="px-6 py-12 bg-[#0F172A] text-white">
        <h2 class="text-center text-4xl font-extrabold text-cyan-400 mb-6">Contacto</h2>

        {% if form.non_field_errors %}
            <div class="mb-4 p-3 bg-red-600 text-white rounded">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                <div class="max-w-4xl mx-auto mb-4 p-4 rounded-md shadow-lg {% if message.tags == 'error' %} bg-red-700 text-red-200 {% else %} bg-cyan-800 text-cyan-300 {% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form id="ContactForm" method="post" class="max-w-xl mx-auto bg-[#1E293B] p-6 rounded-xl shadow-md space-y-6">
            {% csrf_token %}

            <!-- Input Nombre -->
            <div>
                <label for="inputName"
                       class="block text-[#00FFA3] font-semibold mb-2">{{ form.nombre.label_tag }}</label>
                {{ form.nombre }}
                <p class="text-sm text-gray-400 mt-1 text-right" id="nombreCount">30 caracteres restantes</p>
                {% if form.nombre.errors %}
                    <p class="text-red-400 text-sm mt-1">{{ form.nombre.errors.0 }}</p>
                {% endif %}
            </div>

            <!-- Input Apellido -->
            <div>
                <label for="inputSubname"
                       class="block text-[#00FFA3] font-semibold mb-2">{{ form.apellido.label_tag }}</label>
                {{ form.apellido }}
                <p class="text-sm text-gray-400 mt-1 text-right" id="apellidoCount">30 caracteres restantes</p>
                {% if form.apellido.errors %}
                    <p class="text-red-400 text-sm mt-1">{{ form.apellido.errors.0 }}</p>
                {% endif %}
            </div>

            <!-- Input Email -->
            <div>
                <label for="inputEmail"
                       class="block text-[#00FFA3] font-semibold mb-2">{{ form.email.label_tag }}</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <p class="text-red-400 text-sm mt-1">{{ form.email.errors.0 }}</p>
                {% endif %}
            </div>

            <!-- Input Producto -->
            <div>
                <label for="id_producto" class="block text-[#00FFA3] font-semibold mb-2">
                    {{ form.producto.label_tag }}
                </label>
                {{ form.producto }}
                {% if form.producto.errors %}
                    <p class="text-red-400 text-sm mt-1">{{ form.producto.errors.0 }}</p>
                {% endif %}
            </div>

            <!-- Input Mensaje -->
            <div>
                <label for="inputMessage"
                       class="block text-[#00FFA3] font-semibold mb-2">{{ form.mensaje.label_tag }}</label>
                {{ form.mensaje }}
                <p class="text-sm text-gray-400 mt-1 text-right" id="mensajeCount">500 caracteres restantes</p>
                {% if form.mensaje.errors %}
                    <p class="text-red-400 text-sm mt-1">{{ form.mensaje.errors.0 }}</p>
                {% endif %}
            </div>

            <div class="text-center">
                {% if HCAPTCHA_ENABLED %}
                <button type="submit"
                        class="bg-[#9E00FF] text-white px-4 py-2 rounded-md font-semibold hover:bg-purple-700 transition h-captcha"
                        data-sitekey="{{ HCAPTCHA_SITE_KEY }}"
                        data-callback="onContactSubmit"
                        data-size="invisible">
                    Enviar mensaje
                </button>
                {% else %}
                    <button type="submit"
                            class="bg-[#9E00FF] text-white px-4 py-2 rounded-md font-semibold hover:bg-purple-700 transition">
                        Enviar mensaje
                    </button>
                {% endif %}
            </div>
        </form>
    </section>

{% endblock %}
