{% extends "web/base_generic.html" %}



{% block content %}
    <section>
        {% load static %}
        <h2 class="text-center shadow-lg p-3 mb-5 rounded bg-dark text-light bruno-ace-sc-regular">Eventos</h2>
        <div class="row row-cols-1 row-cols-md-5 g-4">
            {% for event in events_list %}
                <div class="col p-5 mb-5">
                    <div class="card shadow-lg p-5 mb-5 bg-dark rounded">
                        <a class="venobox" href="{{ event.imagen.url }}">
                            <img src="{{ event.imagen.url }}"
                                 class="figure-img img-fluid rounded" alt="img">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-white">{{ event.nombre_evento }}</h5>
                            <p class="card-text text-success">{{ event.pie_de_imagen }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ event.fecha_de_evento }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>

{% endblock %}
