{% extends "web/base_generic.html" %}



{% block content %}

    {% load static %}
    <section class="px-6 py-12 bg-[#0F172A] text-white">
        <h2 class="text-center text-4xl font-extrabold text-cyan-400 mb-6">Eventos</h2>

        {% if not events_list %}
            <h3 class="text-lg font-semibold text-[#00FFA3] text-center">No hay eventos disponibles en este momento</h3>
        {% else %}
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
                {% for event in events_list %}
                    <div class="p-5 bg-[#1E293B] rounded-xl shadow-lg transform hover:scale-105 transition-all duration-300 hover:-translate-y-1 hover:shadow-[0_0_15px_#9E00FF]">
                        <a data-fancybox="gallery" href="{{ event.imagen.url }}">
                            <img src="{{ event.imagen.url }}" class="rounded-lg w-full object-cover"
                                 alt="Imagen de {{ event.nombre_evento }}">
                        </a>

                        <div class="pt-4">
                            <h3 class="text-lg font-semibold text-[#00FFA3] mb-2">{{ event.nombre_evento }}</h3>
                            <p class="text-sm text-gray-300 mt-2">{{ event.pie_de_imagen }}</p>
                        </div>
                        <div class="pt-4">
                            <small class="block text-gray-400">{{ event.fecha_de_evento }}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}
